# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\New folder\IntelliJ IDEA 2020.2.4\midterm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
